@inherits LayoutComponentBase

<div class="top-bar">
    <a class="logo" href="#">
        <img src="images/logo.svg" alt="Alternate Text" />
    </a>
    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="images/pizza-slice.svg" alt="Alternate Text" />
        <div>Elegir Pizza</div>
    </NavLink>
</div>

<div class="content px-4">
    @Body
</div>
